* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
  }
  #container {
    height: 100vh;
    color: rgb(252, 10, 10);
    font-size: 35px;

    background-image: url("back.jpg");
    background-size: cover;
    font-family: 'Aboreto', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
  }
  #canvas {
    margin-top: 10px;
    
    border-radius: 10px;
  }
  
  #source {
    display: none;
    z-index: 10;
    width: 1000px;
    height: 1000px;
    
    
  }
  #h1{
    background-color: Red;
  }
  #source1{
    position: absolute;
margin-left: 800px;
    display: none;
}
#ender
{
  display: none;
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

 
