*{
    margin: 0%;
    padding: 0%;
}
html {
    scroll-behavior: smooth;
    overflow-x: hidden;
  }

h1{
    color: black;
    font-size: 30px;

}

header{
    height: 10vh;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: end;
    align-items: center;
    position:fixed;
}

#banner{
    height: 70vh;
    
    margin-bottom: 300px;
    background-color: darkolivegreen;
    display: flex;
    justify-content: center;
    align-items: center;
}

#circles{
    padding-top: 10px;
    display: flex;
    justify-content: space-evenly;
}

.circle{
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 200px;
    background-color: purple;
    overflow: hidden;

    border-radius: 50%;
}

.boxContainer{
    margin-top: 10px;
    display: flex;
    justify-self: start;


}

main{
    
    height: 600px;
    width: 50%;
    background-color: wheat;
    color: purple;
    padding: 20px;
}

aside{
    padding: 10px,20px;
    

    background-color: aliceblue;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.abox{
    overflow: hidden;
    height: 200px;
    width: 100%;
    background-color: purple;
    display: flex;
    justify-content: center;
    align-items: center;
}

#boxes{
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}

.box{
    padding: 10px;
    background-color: rgb(56, 5, 56);
    height: 450px;
    width: 20%;
    color: white;
}

footer{
    margin-top: 10px;
    height: 100px;
    background-color: bisque;
    display: flex;
    align-items: center;
    justify-content: center;
    
}


a{
    text-decoration: none;
    font-size: 20px;
    color: black;
    border: 2px purple solid;
    border-radius: 30px;
    padding: 10px;
    margin: 10px;
}

a:hover{
    background-color: purple;
    text-decoration: none;
    font-size: 20px;
    border: 2px purple solid;
    color: white;
}

#tech-img{
    height: 85vh;
    width: 100px;
    overflow: hidden;
}

.team-img{
    
    height: 200px;
    width: 150px;
    

}

.read-more{
    margin-left: 5px;
    width: 100%;
    padding: 20px;
    border-radius: 30px;
    border: 2px solid white;
}

.read-more:hover{
    margin-left: 5px;
    width: 100%;
    padding: 20px;
    border-radius: 40px;
    border: 2px solid white;
    color: purple;
    background-color: white;
}
footer{
    margin-top: 150px;
}
#sec4
{
    padding: 50px;
    
}
.work
{
    display: flex;
     width: 100%;
}
.first
{
    background-color: rgb(56, 5, 56);
    height: 300px;
    padding: 30px;
}
.true
{
    width: 50%;
    color: white;
    margin-right: 200px;
}
h4
{
    color: white;
    font-size: 18px;
}
.true1
{
    margin-right: 80px;
}
h3
{
   padding-left: 500px;
    padding-top: 40px;
    font-size: 25px;
    color:thistle;
    padding-right: 23px;
}
/* .f
{
    background-color: purple;
    width: 100px;
    height: 50px;
    border-radius: 25px;
    margin-top: 30px;
} */